<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav
    class="navbar navbar-expand-lg bg-body-tertiary bg-primary"
    data-bs-theme="dark"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="/">BeHealthy</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/"
              >Self Diagnosis</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/verify">Test Verification</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user_account">Account</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Appointment
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/doctor">Doctor</a></li>
              <li><a class="dropdown-item" href="/hospital">Hospital</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <h1>Create your Account</h1>
    <form action="/create" method="POST">
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input
          type="text"
          class="form-control"
          name="name"
          id="name"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="email"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Phone Number</label>
        <input
          type="number"
          class="form-control"
          name="ph_num"
          id="ph_num"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Aadhar</label>
        <input
          type="number"
          class="form-control"
          name="aadhar"
          id="aadhar"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Birthdate</label>
        <input
          type="date"
          class="form-control"
          name="date"
          id="date"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Blood Group</label>
        <input
          type="text"
          class="form-control"
          name="grp"
          id="grp"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Weight</label>
        <input
          type="number"
          class="form-control"
          name="weight"
          id="weight"
          aria-describedby="emailHelp"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Height</label>
        <input
          type="number"
          class="form-control"
          name="height"
          id="height"
          aria-describedby="emailHelp"
        />
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
